@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
}

*{ /* RESET CSS */
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 28, 28);
  min-height: 150px;
  flex-wrap: wrap;
}

#img-logo{
  max-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 img {
  height: 65px;
}


.box1 a img{
  height: 65px;
}

#menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  min-height: 25px;
  width: 100%;
}
#menu-principal ul {
  list-style: none;
  display: flex;
}
#menu-principal ul li {
  height: 36px;
  margin: 0 10px;
  display: flex;
}
#menu-principal ul li a {
  font-family: var(--fonte-texto);
  font-weight: bold;
  height: 36px;
  align-items: center;
  display: flex;
  padding: 0 10px;
  text-decoration: none;
  background-color: yellow;
  transition: 300ms;
}
  /* Quando o mouse passa sobre o link do menu */
  #menu-principal ul li a:hover {
    /* Filtro que escurece a cor do item (cor de frente + cor de fundo 
      brightness < 1: escurece
      brightness > 1: clareia
    */
    background-color: rgba(172, 167, 167, 0.7);

  }